@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* primary */
    --color-primary: var(--primary-color-h) var(--primary-color-s)
      var(--primary-color-l);

    --color-primary--light: var(--primary-color-h) var(--primary-color-s)
      calc(var(--primary-color-l) + var(--lighten));

    --color-primary--lighter: var(--primary-color-h) var(--primary-color-s)
      calc(var(--primary-color-l) + var(--lighten) * 1.5);

    --color-primary--lightest: var(--primary-color-h) var(--primary-color-s)
      calc(var(--primary-color-l) + var(--lighten) * 2.15);

    --color-primary--dark: var(--primary-color-h) var(--primary-color-s)
      calc(var(--primary-color-l) + var(--darken));

    --color-primary--darker: var(--primary-color-h) var(--primary-color-s)
      calc(var(--primary-color-l) + var(--darken) * 1.5);

    --color-primary--darkest: var(--primary-color-h) var(--primary-color-s)
      calc(var(--primary-color-l) + var(--darken) * 2.15);

    /* secondary */
    --color-secondary: calc(var(--primary-color-h) + 180) var(--primary-color-s)
      var(--primary-color-l);

    --color-secondary--light: calc(var(--primary-color-h) + 180)
      var(--primary-color-s) calc(var(--primary-color-l) + var(--lighten));

    --color-secondary--lighter: calc(var(--primary-color-h) + 180)
      var(--primary-color-s) calc(var(--primary-color-l) + var(--lighten) * 2);

    --color-secondary--lightest: calc(var(--primary-color-h) + 180)
      var(--primary-color-s)
      calc(var(--primary-color-l) + var(--lighten) * 2.25);

    --color-secondary--dark: calc(var(--primary-color-h) + 180)
      var(--primary-color-s) calc(var(--primary-color-l) + var(--darken));

    --color-secondary--darker: calc(var(--primary-color-h) + 180)
      var(--primary-color-s) calc(var(--primary-color-l) + var(--darken) * 2);

    --color-secondary--darkest: calc(var(--primary-color-h) + 180)
      var(--primary-color-s) calc(var(--primary-color-l) + var(--darken) * 2.25);

    /* accents -- these may need tweaked */
    --color-accent-1: calc(var(--primary-color-h) + 30) var(--primary-color-s)
      var(--primary-color-l);

    --color-accent-2: calc(var(--primary-color-h) + 90) var(--primary-color-s)
      var(--primary-color-l);

    --color-accent-3: calc(var(--primary-color-h) + 180 + 30)
      var(--primary-color-s) var(--primary-color-l);

    --color-accent-4: calc(var(--primary-color-h) - 30) var(--primary-color-s)
      var(--primary-color-l);

    --color-accent-5: calc(var(--primary-color-h) - 90) var(--primary-color-s)
      var(--primary-color-l);

    --color-accent-6: calc(var(--primary-color-h) + 180 - 30)
      var(--primary-color-s) var(--primary-color-l);

    /* generate primary and secondary colors*/
    --primary-color-h: 225;
    --primary-color-s: 45%;
    --primary-color-l: 25%;
    --lighten: 20%;
    --darken: -10%;
    --color-white: 20deg 33% 95%;
  }

  html,
  body {
    @apply min-h-screen;
  }

  body {
    @apply bg-primary-600 text-secondary-300 text-base p-0 px-5 leading-6;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply font-light leading-none tracking-wider text-secondary-300;
  }
  h1,
  .h1 {
    @apply text-7xl;
  }
  h2,
  .h2 {
    @apply text-4xl;
  }
  h3,
  .h3 {
    @apply text-3xl leading-relaxed;
  }
  h4,
  .h4 {
    @apply text-2xl leading-relaxed;
  }
  h5,
  .h5 {
    @apply text-xl uppercase leading-relaxed tracking-wider;
  }
  h6,
  .h6 {
    @apply text-lg uppercase leading-relaxed tracking-wider;
  }

  a {
    @apply text-secondary-200 underline underline-offset-2 opacity-80 transition-all duration-200 ease-in-out hover:opacity-100 focus:opacity-100 active:opacity-100;
  }

  button,
  .button {
    @apply bg-primary-400 text-secondary-200 border-2 border-secondary-200 rounded-md py-3 px-5 transition-all duration-200 ease-in-out
    hover:cursor-pointer hover:bg-primary-700 hover:text-white hover:border-accent-1;
  }
}
